---
import { render } from 'astro:content';
import { SITE_TITLE } from '@src/consts';
import { getPublishedPosts } from '@lib/posts';

import DefaultLayout from '@layouts/Default.astro';
import PostMeta from '@components/PostMeta.astro'
import TagList from '@components/TagList.astro'
import NextPrevPost from '@components/NextPrevPost.astro';
import HeroImage from '@components/HeroImage.astro';

export async function getStaticPaths() {
  const posts = await getPublishedPosts();
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}

const post = Astro.props;
const { Content } = await render(post);
const { title, description, heroImage, tags, section } = post.data;

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/covers/*.{jpg,jpeg,png,gif,webp,svg,avif}'
);
const loader = heroImage ? images[`/src/assets/covers/${heroImage}`] : undefined;
const heroImageSrc = loader ? (await loader()).default : undefined;
---

<DefaultLayout
  title={`${title} — ${SITE_TITLE}`}
  description={description ?? ''}
  image={heroImageSrc}
>
  <article class="post">
    <header>
      <h1>{title}</h1>
      <PostMeta post={post} />
      {tags && <TagList tags={tags} /> }
      <HeroImage filename={heroImage} />
    </header>

    <content>
      <Content />
    </content>

    {section == "post" &&
      <footer>
        <NextPrevPost />
      </footer>
    }
  </article>
</DefaultLayout>
