---
import { render } from 'astro:content';
import { SITE_TITLE } from '@src/consts';
import { getPageBySlug } from '@lib/pages';
import DefaultLayout from '@layouts/Default.astro';
import HeroImage from '@components/HeroImage.astro';

const page = await getPageBySlug('about');
const { Content } = await render(page);
const { title, description, heroImage } = page.data;
---

<DefaultLayout title={`${title} — ${SITE_TITLE}`} description={description}>
  <article class="post">
    <header>
      <h1>{title}</h1>
      <HeroImage filename={heroImage} />
    </header>

    <content>
      <Content />
    </content>
  </article>
</DefaultLayout>
