---
interface Props {
  post: CollectionEntry<'posts'>;
}
import type { CollectionEntry } from 'astro:content';
import PostMeta from '@components/PostMeta.astro';

const { post } = Astro.props;
---

<article card class="post" aria-labelledby={`post-header-${post.id}`}>
	<PostMeta post={post} />
  <h2 id={`post-header-${post.id}`}>
		<a href={`/posts/${post.data.slug}/`}>
			{post.data.title}
    </a>
  </h2>

  <excerpt>{post.data.description}</excerpt>
</article>
