---
import { getPublishedPosts } from '@lib/posts';
import { deriveTags } from '@lib/tags';
import DefaultLayout from '@layouts/Default.astro';
import Card from '@components/Card.astro';

export async function getStaticPaths() {
  const allPosts = await getPublishedPosts();
  return deriveTags(allPosts).map((tag) => {
    return {
      params: { tag: tag.slug },
      props: { posts: tag.posts, tagName: tag.name },
    };
  });
}

const { posts, tagName } = Astro.props;
const title = `${posts.length} posts tagged “${tagName}”`;
---

<DefaultLayout title={title} description={title}>
  <article-list>
    <h1>{title}</h1>
    {
      posts.map((post) => (
        <Card post={post} />
      ))
    }
  </article-list>
</DefaultLayout>
